@import "../../hyperparameters.scss";

.button-lottery {
    font-family: "Trueno", sans-serif;
    font-size: 18px;
    font-weight: bold;

    height: 270px;
    background-color: #9b51e0;
    color: #efd0d0;

    margin: 10px;

    border: none;
    cursor: pointer;
    border-radius: 12px;


    display: inline-flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    padding: 16px;


    transition: all .2s ease-in-out;
}

.button-lottery:hover {
    background-color: #3333ff;
    transition: all .2s ease-in-out;
}
  
.line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 34px;
    width: 100%;
}

.lotteryName {
    font-size: 23px;
    font-weight: bold;
    margin: 2px;
    color: white;

    justify-content: space-around;
    padding: 1px 0;

}

.current-amount,
.protocol,
.end-date {
    margin-right: 5px;
    justify-content: left;
    align-items: left;
}

.token-name,
.current-amount-usd {
    margin-left: auto;
}

.name, .protocol,
.token-name, .current-amount,
.apy, .expected-yield,
.end-date {
    font-family: "Trueno", sans-serif;
    font-size: 18px;
}

.view-lottery {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.view-lottery:hover {
    background-color: rgb(190, 190, 210);
    transition-delay: 0.05s;
  }

.imageLogo {
    width: 5%;
}