* {
  padding: 0;
  margin: 0;
}

.body {
  font-family: Arial, sans-serif;
}

.root {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px; 
  background: #536dfe;
  background: linear-gradient(to bottom, #c2daf3, #536dfe);
}

.sidebar-title {
  padding: 16px;
  font-size: 24px;
  font-weight: 600;
}

.right-side {
  flex: 1; 
  background-color: #fafafa;
  display: flex; 
  flex-direction: column; 
  padding: 0;
}

.header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: #c2daf3;
}

.connect-wallet {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-right: 50px;
}

.connect-wallet:hover {
  background-color: rgb(190, 190, 210);
  transition-delay: 0.05s;
}

.content {
  height: 100%;
}