@import '../../../src/HyperParameters.scss';

.lotteryModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height: 60%;
    margin: 100px 500px;

    background-color: rgba(255, 255, 255, 1);
    border-radius: 30px;
}

.modalName {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.modal-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalState {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px;
    margin-bottom: 120px;

    color: $fontcolor_main;
    font-size: 1.2em;
}

.modalLabel {
    font-size: 1.2em;
}

.modalButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 50px;
    width: 130px;
    margin: 0px 20px;
    padding: 0px 0px;

    border: none;
    outline: none;

    color: white;
    background-color: $cardcolor;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: bold;

    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: $cardcolor_hover;
        transition: all 0.2s ease-in-out;
    }
}

.flexRowDivDeposit {
    margin: 20px;
}

.modalInput {
    text-align: right;
    padding: 10px;
    font-size: 1.3em;
    border: none;
    outline: none;
    border-bottom: 3px solid pink;

    color: $fontcolor_main;
}
.modalInput::placeholder {
    color: $fontcolor_main;
}

.modalToken {
    margin: 10px;
    width: 30px;
    height: auto;
}

.flexRowDivDeposit {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

// remove input arrows
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}





// loading
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loading {
    color: $fontcolor_main;
    font-size: 1.5em;
  }